@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: var(--heading-h1);
    font-family: 'Onest Bold';
  }
  h2 {
    font-size: var(--heading-h2);
    font-family: 'Onest Bold';
  }
  h3 {
    font-size: var(--heading-h3);
    font-family: 'Onest Bold';
  }
  h4 {
    font-size: var(--heading-h4);
    font-family: 'Onest Bold';
  }
  h5 {
    font-size: var(--heading-h5);
    font-family: 'Onest Bold';
  }
  h6 {
    font-size: var(--heading-h6);
    font-family: 'Onest Bold';
  }

  a {
    font-size: 16px;
    font-family: 'Onest Regular';
    text-decoration: underline;
    color: var(--secondary-blue);
  }
}
